.loginSendDeac {

    width: 5em;
    height: 1.5em;
    background-color: #00b8b8;
    font-size: 20px;
    border-radius: 20px;
    border: solid 2px black;
    font-family: 'Myfont';

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSendAct {

    cursor: pointer;
    background-color: lightblue;
    
}

.loginSendAct:hover {

    transition: 1s;
    background-color: rgb(106, 186, 210);
}