.main2{
    background-color: rgb(185, 218, 228);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.act{
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginRow {
    height: 61vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.g{
    border: solid 2px #00b8b8;
}
