.registerDesign{
    background-color: lightblue;

}


.inputRegister:hover{
    background-color: #00b8b8;
    cursor: pointer;
}



.b{
    display: flex;
    justify-content: center;
    align-items: center;
}

.act{
    margin-bottom: 1em;
}

