

.asClient{
    color: #00b8b8;
    display: flex;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 10em;
   
}

.b{
    background-color: rgb(185, 218, 228);
}

.nameDising{
    color: #00b8b8;
    display: flex;
    justify-content: center;
    
}

.card{
    border: solid 2px #00b8b8;
}