
.Foot{
    background-color: rgb(0, 184, 184);
  
}

.W1{
    display: flex;
    justify-content:flex-end;
}
.W2{
    display:flex;
    justify-content: center;
}
.W3{
    display: flex;
    justify-content: flex-start;
}
.Copy{
    display:flex;
    justify-content: center;
}

