.h{
    background-color: rgb(185, 218, 228);
    display: flex;
    justify-content: center;
  height: 61vh;
}

.j{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00b8b8;
  
}

.z{
 
}